---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: benji
  namespace: benji
spec:
  releaseName: benji
  chart:
    spec:
      # renovate: registryUrl=https://benji-backup.me/helm-charts/
      chart: benji
      version: 1.2.0
  values:
    ingress:
      annotations:
        external-dns.alpha.kubernetes.io/hostname: benji.prod.mrv.thebends.org.
        external-dns.alpha.kubernetes.io/target: prx02.prod.mrv.thebends.org.
      host: benji.prod.mrv.thebends.org
    benji:
      crontab:
        - name: backup-monitoring
          schedule: "00 11 * * *"
          command:
            - benji-backup-pvc
            - --namespace
            - monitoring
        - name: backup-home-assistant
          schedule: "05 11 * * *"
          command:
            - benji-backup-pvc
            - --namespace
            - home-assistant
        - name: backup-unifi
          schedule: "10 11 * * *"
          command:
            - benji-backup-pvc
            - --namespace
            - unifi
        - name: backup-teslamate
          schedule: "15 11 * * *"
          command:
            - benji-backup-pvc
            - --namespace
            - teslamate
        - name: backup-frigate
          schedule: "20 11 * * *"
          command:
            - benji-backup-pvc
            - --namespace
            - frigate
        - name: backup-minecraft
          schedule: "25 11 * * *"
          command:
            - benji-backup-pvc
            - --namespace
            - minecraft
        - name: enforce
          schedule: "00 12 * * *"
          command:
            - benji-command
            - enforce
            - days14
            - 'labels["benji-backup.me/instance"] == "benji-k8s"'
        - name: cleanup
          schedule: "00 13 * * *"
          command:
            - benji-command
            - cleanup
    postgresql:
      image:
        tag: 14.5.0-debian-11-r35
