---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/sources
  - ../base/redis
  - ../base/rook-ceph
  - ../base/benji
  - benji-secrets.yaml
  - https://raw.githubusercontent.com/projectcalico/calico/v3.26.3/manifests/calico.yaml
patches:
  - path: redis-values.yaml
  - path: rook-ceph-values.yaml
  - path: backup-pvc.yaml
  - path: benji-values.yaml
