---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home-assistant
spec:
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: home-assistant
      version: 13.4.2
  values:
    image:
      repository: ghcr.io/home-assistant/home-assistant
      tag: dev@sha256:4ed5ecf748c49ee037bf1013c763760619a6d2bc02755ae47698c19e7fee5e2b

    persistence:
      config:
        existingClaim: home-assistant-storage-0
        enabled: true
        mountPath: /config

    ingress:
      main:
        annotations:
          external-dns.alpha.kubernetes.io/hostname: home-assistant.dev.mrv.thebends.org.
          external-dns.alpha.kubernetes.io/target: prx03.dev.mrv.thebends.org.
        hosts:
          - host: home-assistant.dev.mrv.thebends.org
            paths:
              - path: /
        tls:
          - secretName: home-assistant-tls
            hosts:
              - home-assistant.dev.mrv.thebends.org

    env:
      HASS_INTERNAL_URL: "https://home-assistant.dev.mrv.thebends.org"
      HASS_EXTERNAL_URL: "https://home-assistant.dev.mrv.thebends.org:28123"

    addons:
      codeserver:
        ingress:
          annotations:
            external-dns.alpha.kubernetes.io/hostname: vscode-ha.dev.mrv.thebends.org.
            external-dns.alpha.kubernetes.io/target: prx02.dev.mrv.thebends.org
          hosts:
            - host: vscode-ha.dev.mrv.thebends.org
              paths:
                - path: /
          tls:
            - secretName: vscode-home-assistant-tls
              hosts:
                - vscode-ha.dev.mrv.thebends.org
