---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: haproxy-external
  namespace: haproxy
spec:
  chart:
    spec:
      # renovate: registryUrl=https://haproxytech.github.io/helm-charts
      chart: kubernetes-ingress
      version: 1.33.0
  values:
    controller:
      service:
        annotations:
          external-dns.alpha.kubernetes.io/hostname: prx03.${DOMAIN}.
        loadBalancerIP: ${HAPROXY_EXT_INGRESS_IP}
