---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/haproxy
  - ../base/metallb
  - ../base/external-dns
  - ../base/certs/
  - metallb-ip-pool.yaml
  - nginx-values.yaml
patches:
  - path: haproxy-values.yaml
  - path: haproxy-external-values.yaml
  - path: metallb-values.yaml
  - path: external-dns-values.yaml
