# Python
.swp
.tox
__pycache__
venv
.secrets
*.egg-info/

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.decrypted~*

# Local configuration
.env/*
**/build/*
.DS_Store
