---
repos:
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.37.1
  hooks:
  - id: yamllint
    args:
    - -c
    - ".github/yamllint-config.yaml"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-merge-conflict
- repo: https://gitlab.com/bmares/check-json5
  rev: v1.0.1
  hooks:
  - id: check-json5
    files: ^(.+\.json5)$
    types:
    - file
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.6
  hooks:
  - id: forbid-crlf
  - id: remove-crlf
  - id: forbid-tabs
- repo: https://github.com/psf/black
  rev: 26.1.0
  hooks:
  - id: black
- repo: local
  hooks:
  - id: manifest
    name: manifest
    entry: hack/run-in-env.sh hack/update-manifest.sh
    language: script
    files: ^(.+\.yaml)$
    types: [text]
