PyJWT==2.8.0
PyYAML==6.0.1
aiohttp==3.8.6
ansible-pylibssh==1.1.0
ansible==8.6.1
cryptography==41.0.5
dnspython==2.4.2
flux-local==3.1.1
google-cloud-secret-manager==2.16.4
hostdb==1.1.2
paramiko==3.3.1
pip==23.3.1
pre-commit==3.5.0
py==1.11.0
pytest==7.4.3
python-terraform==0.10.1
pytoml==0.1.21
requests==2.31.0
semantic-version==2.10.0
typing-extensions==4.8.0
urllib3==2.1.0
virtualenv==20.24.6
yamllint==1.33.0
yarl==1.9.2
yq==3.2.3
