---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kyverno
spec:
  releaseName: kyverno
  chart:
    spec:
      # renovate: registryUrl=https://kyverno.github.io/kyverno/
      chart: kyverno
      version: 2.7.5
