---
apiVersion: v1
kind: Namespace
metadata:
  name: home-assistant
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: home-assistant-storage-0
  namespace: home-assistant
  finalizers:
    - kubernetes.io/pvc-protection
spec:
  storageClassName: rook-ceph-block
  resources:
    requests:
      storage: 25Gi
  accessModes:
    - ReadWriteOnce
