---
clusters:
- path: kubernetes/clusters/prod
  kustomizations:
  - name: compute
    namespace: flux-system
    path: kubernetes/compute/prod
    helm_repos: []
    oci_repos: []
    helm_releases:
    - name: intel-device-plugin-operator
      namespace: intel-device-plugin
      chart:
        name: intel-device-plugins-operator
        repo_name: intel
        repo_namespace: flux-system
        repo_kind: HelmRepository
    - name: intel-device-plugin-gpu
      namespace: intel-device-plugin
      chart:
        name: intel-device-plugins-gpu
        repo_name: intel
        repo_namespace: flux-system
        repo_kind: HelmRepository
    - name: node-feature-discovery
      namespace: node-feature-discovery
      chart:
        name: node-feature-discovery
        repo_name: node-feature-discovery
        repo_namespace: flux-system
        repo_kind: HelmRepository
    - name: nvidia-device-plugin
      namespace: nvidia-device-plugin
      chart:
        name: nvidia-device-plugin
        repo_name: nvidia-device-plugin
        repo_namespace: flux-system
        repo_kind: HelmRepository
    config_maps:
    - name: default-controller-env
      namespace: system-upgrade
    - name: time-slicing-config
      namespace: nvidia-device-plugin
    secrets: []
  - name: crds
    namespace: flux-system
    path: kubernetes/crds
    helm_repos: []
    oci_repos: []
    helm_releases: []
    config_maps: []
    secrets: []
  - name: flux-system
    namespace: flux-system
    path: kubernetes/clusters/prod
    helm_repos:
    - name: backube
      namespace: flux-system
      url: https://backube.github.io/helm-charts/
      repo_type: default
    - name: bjw-s-helm-charts
      namespace: flux-system
      url: https://bjw-s-labs.github.io/helm-charts/
      repo_type: default
    - name: cilium
      namespace: flux-system
      url: https://helm.cilium.io/
      repo_type: default
    - name: democratic-csi
      namespace: flux-system
      url: https://democratic-csi.github.io/charts/
      repo_type: default
    - name: grafana
      namespace: flux-system
      url: https://grafana.github.io/helm-charts
      repo_type: default
    - name: ingress-nginx
      namespace: flux-system
      url: https://kubernetes.github.io/ingress-nginx
      repo_type: default
    - name: intel
      namespace: flux-system
      url: https://intel.github.io/helm-charts
      repo_type: default
    - name: jetstack
      namespace: flux-system
      url: https://charts.jetstack.io
      repo_type: default
    - name: kube-state-metrics
      namespace: flux-system
      url: https://kubernetes.github.io/kube-state-metrics
      repo_type: default
    - name: kubernetes-dashboard
      namespace: flux-system
      url: https://kubernetes.github.io/dashboard/
      repo_type: default
    - name: k8s-gateway
      namespace: flux-system
      url: https://ori-edge.github.io/k8s_gateway/
      repo_type: default
    - name: metallb
      namespace: flux-system
      url: https://metallb.github.io/metallb
      repo_type: default
    - name: node-feature-discovery
      namespace: flux-system
      url: https://kubernetes-sigs.github.io/node-feature-discovery/charts
      repo_type: default
    - name: nvidia
      namespace: flux-system
      url: https://helm.ngc.nvidia.com/nvidia
      repo_type: default
    - name: ollama-helm
      namespace: flux-system
      url: https://otwld.github.io/ollama-helm
      repo_type: default
    - name: prometheus-community
      namespace: flux-system
      url: https://prometheus-community.github.io/helm-charts
      repo_type: default
    - name: rook-release
      namespace: flux-system
      url: https://charts.rook.io/release
      repo_type: default
    - name: dex
      namespace: flux-system
      url: https://charts.dexidp.io
      repo_type: default
    - name: cloudnative-pg
      namespace: flux-system
      url: https://cloudnative-pg.github.io/charts
      repo_type: default
    - name: nvidia-device-plugin
      namespace: flux-system
      url: https://nvidia.github.io/k8s-device-plugin
      repo_type: default
    - name: tailscale
      namespace: flux-system
      url: https://pkgs.tailscale.com/helmcharts
      repo_type: default
    oci_repos:
    - name: flux-manifests
      namespace: flux-system
      url: oci://ghcr.io/fluxcd/flux-manifests
      ref:
        tag: v2.4.0
    helm_releases:
    - name: cilium
      namespace: kube-system
      chart:
        name: cilium
        repo_name: cilium
        repo_namespace: flux-system
        repo_kind: HelmRepository
    config_maps:
    - name: network-config
      namespace: flux-system
    secrets: []
  - name: iot
    namespace: flux-system
    path: kubernetes/iot/prod
    helm_repos: []
    oci_repos: []
    helm_releases:
    - name: dex
      namespace: dexidp
      chart:
        name: dex
        repo_name: dex
        repo_namespace: flux-system
        repo_kind: HelmRepository
    - name: miniflux
      namespace: miniflux
      chart:
        name: app-template
        repo_name: bjw-s-helm-charts
        repo_namespace: flux-system
        repo_kind: HelmRepository
    - name: cloudnative-pg
      namespace: cloudnative-pg
      chart:
        name: cloudnative-pg
        repo_name: cloudnative-pg
        repo_namespace: flux-system
        repo_kind: HelmRepository
    - name: cluster
      namespace: cloudnative-pg
      chart:
        name: cluster
        repo_name: cloudnative-pg
        repo_namespace: flux-system
        repo_kind: HelmRepository
    - name: supernote
      namespace: supernote
      chart:
        name: app-template
        repo_name: bjw-s-helm-charts
        repo_namespace: flux-system
        repo_kind: HelmRepository
    config_maps: []
    secrets: []
  - name: ml
    namespace: flux-system
    path: kubernetes/ml/prod
    helm_repos: []
    oci_repos: []
    helm_releases:
    - name: doccano
      namespace: doccano
      chart:
        name: app-template
        repo_name: bjw-s-helm-charts
        repo_namespace: flux-system
        repo_kind: HelmRepository
    - name: ollama
      namespace: ollama
      chart:
        name: ollama
        repo_name: ollama-helm
        repo_namespace: flux-system
        repo_kind: HelmRepository
    config_maps: []
    secrets: []
  - name: monitoring
    namespace: flux-system
    path: kubernetes/monitoring/prod
    helm_repos: []
    oci_repos: []
    helm_releases:
    - name: kubernetes-dashboard
      namespace: kubernetes-dashboard
      chart:
        name: kubernetes-dashboard
        repo_name: kubernetes-dashboard
        repo_namespace: flux-system
        repo_kind: HelmRepository
    - name: kube-prometheus-stack
      namespace: monitoring
      chart:
        name: kube-prometheus-stack
        repo_name: prometheus-community
        repo_namespace: flux-system
        repo_kind: HelmRepository
    config_maps:
    - name: grafana-dashboard-control-plane-99d879ff4d
      namespace: flux-system
    secrets: []
  - name: network
    namespace: flux-system
    path: kubernetes/network/prod
    helm_repos: []
    oci_repos: []
    helm_releases:
    - name: cert-manager
      namespace: cert-manager
      chart:
        name: cert-manager
        repo_name: jetstack
        repo_namespace: flux-system
        repo_kind: HelmRepository
    config_maps: []
    secrets: []
  - name: network-bridge
    namespace: flux-system
    path: kubernetes/network/prod/bridge
    helm_repos: []
    oci_repos: []
    helm_releases:
    - name: tailscale-operator
      namespace: tailscale
      chart:
        name: tailscale-operator
        repo_name: tailscale
        repo_namespace: flux-system
        repo_kind: HelmRepository
    config_maps: []
    secrets: []
  - name: network-certs
    namespace: flux-system
    path: kubernetes/network/prod/certs
    helm_repos: []
    oci_repos: []
    helm_releases: []
    config_maps: []
    secrets: []
  - name: network-ingress
    namespace: flux-system
    path: kubernetes/network/prod/ingress
    helm_repos: []
    oci_repos: []
    helm_releases:
    - name: nginx-internal
      namespace: nginx
      chart:
        name: ingress-nginx
        repo_name: ingress-nginx
        repo_namespace: flux-system
        repo_kind: HelmRepository
    - name: nginx-external
      namespace: nginx
      chart:
        name: ingress-nginx
        repo_name: ingress-nginx
        repo_namespace: flux-system
        repo_kind: HelmRepository
    config_maps: []
    secrets: []
  - name: network-load-balancer-config
    namespace: flux-system
    path: kubernetes/network/prod/load-balancer-config
    helm_repos: []
    oci_repos: []
    helm_releases: []
    config_maps: []
    secrets: []
  - name: network-name-service
    namespace: flux-system
    path: kubernetes/network/prod/name-service
    helm_repos: []
    oci_repos: []
    helm_releases:
    - name: k8s-gateway
      namespace: k8s-gateway
      chart:
        name: k8s-gateway
        repo_name: k8s-gateway
        repo_namespace: flux-system
        repo_kind: HelmRepository
    config_maps: []
    secrets: []
  - name: network-wifi
    namespace: flux-system
    path: kubernetes/network/prod/wifi
    helm_repos: []
    oci_repos: []
    helm_releases:
    - name: unifi
      namespace: unifi
      chart:
        name: app-template
        repo_name: bjw-s-helm-charts
        repo_namespace: flux-system
        repo_kind: HelmRepository
    config_maps: []
    secrets: []
  - name: storage
    namespace: flux-system
    path: kubernetes/storage/prod
    helm_repos: []
    oci_repos: []
    helm_releases:
    - name: local-path-provisioner
      namespace: democratic-csi
      chart:
        name: democratic-csi
        repo_name: democratic-csi
        repo_namespace: flux-system
        repo_kind: HelmRepository
    - name: rook-ceph
      namespace: rook-ceph
      chart:
        name: rook-ceph
        repo_name: rook-release
        repo_namespace: flux-system
        repo_kind: HelmRepository
    - name: volsync
      namespace: volsync-system
      chart:
        name: volsync
        repo_name: backube
        repo_namespace: flux-system
        repo_kind: HelmRepository
    - name: rook-ceph-cluster
      namespace: rook-ceph
      chart:
        name: rook-release/rook-ceph-cluster
        repo_name: rook-release
        repo_namespace: flux-system
        repo_kind: HelmRepository
    config_maps: []
    secrets: []
