---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: local-path-provisioner
  namespace: democratic-csi
spec:
  interval: 30m
  chart:
    spec:
      chart: democratic-csi
      sourceRef:
        name: democratic-csi
        kind: HelmRepository
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    fullnameOverride: local-path-provisioner
    controller:
      strategy: node
      externalProvisioner:
        extraArgs:
          - --leader-election=false
          - --node-deployment=true
          - --node-deployment-immediate-binding=false
          - --feature-gates=Topology=true
          - --strict-topology=true
          - --enable-capacity=true
          - --capacity-ownerref-level=1
      externalResizer:
        enabled: false
      externalAttacher:
        enabled: false
      externalSnapshotter:
        enabled: false
    csiDriver:
      name: local-hostpath.cluster.local
      storageCapacity: true
      attachRequired: false
      fsGroupPolicy: File
    storageClasses:
      - name: local-hostpath
        defaultClass: false
        reclaimPolicy: Delete
        volumeBindingMode: WaitForFirstConsumer
        allowVolumeExpansion: false
    driver:
      config:
        driver: local-hostpath
        local-hostpath:
          shareBasePath: /var/lib/rancher/k3s/local-hostpath
          controllerBasePath: /var/lib/rancher/k3s/local-hostpath
          dirPermissionsMode: "0770"
          dirPermissionsUser: 0
          dirPermissionsGroup: 0
    node:
      driver:
        image: ghcr.io/democratic-csi/democratic-csi:v1.9.5
        # Nodes do not have /etc/localtime
        localtimeHostPath: null
        extraVolumeMounts:
          - name: local-hostpath
            mountPath: /var/lib/rancher/k3s/local-hostpath
            mountPropagation: Bidirectional
      extraVolumes:
        - name: local-hostpath
          hostPath:
            path: /var/lib/rancher/k3s/local-hostpath
            type: DirectoryOrCreate
