---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: nginx
  namespace: nginx
spec:
  chart:
    spec:
      # renovate: registryUrl=https://kubernetes.github.io/ingress-nginx
      chart: ingress-nginx
      version: 4.7.2
  values:
    controller:
      service:
        annotations:
          external-dns.alpha.kubernetes.io/hostname: prx04.${DOMAIN}.
        loadBalancerIP: ${NGINX_INGRESS_IP}
