---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: adguard-home
  namespace: adguard-home
spec:
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: adguard-home
      version: 5.5.2
  values:
    image:
      repository: adguard/adguardhome
      tag: v0.108.0-b.3

    nodeSelector:
      target_node: buffalo
