---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: unifi
  namespace: unifi
spec:
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: unifi
      version: 5.1.2
  values:
    image:
      repository: jacobalberty/unifi
      tag: v7.4.162
    livenessProbe:
      initialDelaySeconds: 60
      periodSeconds: 30
      timeoutSeconds: 5
      failureThreshold: 7
    readinessProbe:
      initialDelaySeconds: 60
      periodSeconds: 30
      timeoutSeconds: 5
      failureThreshold: 7
    service:
      main:
        enabled: true
        type: LoadBalancer
        externalTrafficPolicy: Local
        loadBalancerIP: ${UNIFI_CONTROLLER_IP}
        annotations:
          metallb.universe.tf/allow-shared-ip: unifi
        # Disable UDP ports, exported on a separate service below so that they
        # can share a LoadBalancer IP
        ports:
          stun:
            enabled: false
          syslog:
            enabled: false
          discovery:
            enabled: false
      udp:
        enabled: true
        type: LoadBalancer
        externalTrafficPolicy: Local
        loadBalancerIP: ${UNIFI_CONTROLLER_IP}
        annotations:
          metallb.universe.tf/allow-shared-ip: unifi
        ports:
          stun:
            enabled: true
            port: 3478
            protocol: UDP
          syslog:
            enabled: true
            port: 5514
            protocol: UDP
          discovery:
            enabled: true
            port: 10001
            protocol: UDP
    ingress:
      main:
        enabled: true
        annotations:
          external-dns.alpha.kubernetes.io/hostname: unifi.${DOMAIN}.
          external-dns.alpha.kubernetes.io/target: prx02.${DOMAIN}.
          cert-manager.io/cluster-issuer: letsencrypt
          hajimari.io/icon: access-point
          haproxy.org/server-ssl: "true"
        hosts:
          - host: unifi.${DOMAIN}
            paths:
              - path: /
        tls:
          - secretName: unifi-tls
            hosts:
              - unifi.${DOMAIN}
    persistence:
      data:
        enabled: true
        type: pvc
        existingClaim: unifi-shelf
