[Unit]
Description=tcpdump
After=network-online.target
Wants=network-online.target

[Service]
ExecStart={{ tcpdump_bin }} -i {{ tcpdump_iface }} -w '{{ tcpdump_output_path }}' -G 3600 -K -n {{ tcpdump_filter }}

[Install]
WantedBy=multi-user.target