set firewall all-ping enable
set firewall broadcast-ping disable
set firewall group network-group clients description 'Network machine clients'
set firewall group network-group clients network 10.10.38.0/24
set firewall ipv6-receive-redirects disable
set firewall ipv6-src-route disable
set firewall ip-src-route disable
set firewall log-martians enable
set firewall name WAN_IN default-action drop
set firewall name WAN_IN description 'WAN to internal'
set firewall name WAN_IN rule 10 action accept
set firewall name WAN_IN rule 10 description 'Allow established/related'
set firewall name WAN_IN rule 10 state established enable
set firewall name WAN_IN rule 10 state related enable
set firewall name WAN_IN rule 20 action drop
set firewall name WAN_IN rule 20 description 'Drop invalid state'
set firewall name WAN_IN rule 20 state invalid enable

delete firewall name WAN_IN rule 21

set firewall name WAN_LOCAL default-action drop
set firewall name WAN_LOCAL description 'WAN to router'
set firewall name WAN_LOCAL rule 10 action accept
set firewall name WAN_LOCAL rule 10 description 'Allow established/related'
set firewall name WAN_LOCAL rule 10 state established enable
set firewall name WAN_LOCAL rule 10 state related enable

set firewall name WAN_LOCAL rule 20 action drop
set firewall name WAN_LOCAL rule 20 description 'Drop invalid state'
set firewall name WAN_LOCAL rule 20 state invalid enable

set firewall name WAN_LOCAL rule 30 action accept
set firewall name WAN_LOCAL rule 30 description ike
set firewall name WAN_LOCAL rule 30 destination port 500
set firewall name WAN_LOCAL rule 30 log disable
set firewall name WAN_LOCAL rule 30 protocol udp

set firewall name WAN_LOCAL rule 40 action accept
set firewall name WAN_LOCAL rule 40 description esp
set firewall name WAN_LOCAL rule 40 log disable
set firewall name WAN_LOCAL rule 40 protocol esp

set firewall name WAN_LOCAL rule 50 action accept
set firewall name WAN_LOCAL rule 50 description nat-t
set firewall name WAN_LOCAL rule 50 destination port 4500
set firewall name WAN_LOCAL rule 50 log disable
set firewall name WAN_LOCAL rule 50 protocol udp

set firewall name WAN_LOCAL rule 60 action accept
set firewall name WAN_LOCAL rule 60 description l2tp
set firewall name WAN_LOCAL rule 60 destination port 1701
set firewall name WAN_LOCAL rule 60 ipsec match-ipsec
set firewall name WAN_LOCAL rule 60 log disable
set firewall name WAN_LOCAL rule 60 protocol udp

delete vpn l2tp remote-access
delete vpn ipsec ipsec-interfaces

set firewall receive-redirects disable
set firewall send-redirects enable
set firewall source-validation disable
set firewall syn-cookies enable

set interfaces ethernet eth0 address dhcp
set interfaces ethernet eth0 address dhcpv6
set interfaces ethernet eth0 description Internet
set interfaces ethernet eth0 duplex auto
set interfaces ethernet eth0 firewall in name WAN_IN
set interfaces ethernet eth0 firewall local name WAN_LOCAL
set interfaces ethernet eth0 speed auto
set interfaces ethernet eth1 description Local
set interfaces ethernet eth1 duplex auto
set interfaces ethernet eth1 speed auto
set interfaces ethernet eth2 description Local
set interfaces ethernet eth2 duplex auto
set interfaces ethernet eth2 speed auto
set interfaces ethernet eth3 description Local
set interfaces ethernet eth3 duplex auto
set interfaces ethernet eth3 speed auto
set interfaces ethernet eth4 description Local
set interfaces ethernet eth4 duplex auto
set interfaces ethernet eth4 speed auto

set interfaces loopback lo

set interfaces switch switch0 address 10.10.1.1/16
set interfaces switch switch0 description Local
set interfaces switch switch0 mtu 1500
set interfaces switch switch0 switch-port interface eth1
set interfaces switch switch0 switch-port interface eth2
set interfaces switch switch0 switch-port interface eth3
set interfaces switch switch0 switch-port interface eth4
set interfaces switch switch0 switch-port vlan-aware disable
delete interfaces switch switch0 vif 3
delete interfaces switch switch0 vif 4

set port-forward auto-firewall enable
set port-forward hairpin-nat enable
set port-forward lan-interface eth1
set port-forward lan-interface eth2
set port-forward lan-interface eth3

set port-forward rule 2 description 'ha-prod'
set port-forward rule 2 forward-to address 10.10.102.2
set port-forward rule 2 forward-to port 443
set port-forward rule 2 original-port 18123
set port-forward rule 2 protocol tcp_udp

set port-forward wan-interface eth0
set service dhcp-server disabled false
set service dhcp-server hostfile-update disable

# Add back when DHCP hosts are available in inventory
# delete service dhcp-server shared-network-name LAN
set service dhcp-server shared-network-name LAN authoritative enable
set service dhcp-server shared-network-name LAN subnet 10.10.0.0/16 default-router 10.10.1.1
set service dhcp-server shared-network-name LAN subnet 10.10.0.0/16 dns-server 10.10.1.1
set service dhcp-server shared-network-name LAN subnet 10.10.0.0/16 domain-name {{ site_domain }}
set service dhcp-server shared-network-name LAN subnet 10.10.0.0/16 lease 86400
set service dhcp-server shared-network-name LAN subnet 10.10.0.0/16 start 10.10.38.101 stop 10.10.38.250
{% for host in groups['all'] %}
{% if 'dhcp' in hostvars[host] %}
set service dhcp-server shared-network-name LAN subnet 10.10.0.0/16 static-mapping {{ hostvars[host].inventory_hostname }} ip-address {{ hostvars[host].ip }}
set service dhcp-server shared-network-name LAN subnet 10.10.0.0/16 static-mapping {{ host }} mac-address '{{ hostvars[host].mac }}'
{% if 'dhcp_dns' in hostvars[host] %}
set service dhcp-server shared-network-name LAN subnet 10.10.0.0/16 static-mapping {{ host }} static-mapping-parameters 'option domain-name-servers {{ dhcp_dns_ip }};'
{% endif %}
{% endif %}
{% endfor %}


set service dhcp-server static-arp disable
set service dhcp-server use-dnsmasq disable

set service dns dynamic interface eth0 service dyndns host-name {{ ext_domain }}
set service dns dynamic interface eth0 service dyndns login {{ dyndns_login }}
set service dns dynamic interface eth0 service dyndns password {{ dyndns_password }}
set service dns dynamic interface eth0 service dyndns protocol dyndns2
set service dns dynamic interface eth0 service dyndns server {{ dyndns_server }}

delete service dns forwarding
set service dns forwarding cache-size 500
set service dns forwarding listen-on switch0
set service dns forwarding listen-on eth1
set service dns forwarding listen-on eth2
set service dns forwarding listen-on eth3
set service dns forwarding listen-on eth4
set service dns forwarding name-server 8.8.8.8
set service dns forwarding options server=/{{ site_domain }}/10.10.1.10
set service dns forwarding options server=/10.10.in-addr.arpa/10.10.1.10
set service dns forwarding options server=/{{ k8s_domain }}/{{ k8s_dns1_ip }}
set service dns forwarding options server=/{{ k8s_domain }}/{{ k8s_dns2_ip }}
set service dns forwarding options 'dhcp-host=24:5a:4c:13:ae:c0,set:LAN,set:AP,10.10.35.2,mega'
set service dns forwarding options no-hosts
set service dns forwarding options no-negcache
set service dns forwarding system
set service gui http-port 80
set service gui https-port 443
set service gui older-ciphers enable

delete set service snmp
set service snmp community woodgreen authorization ro
set service snmp description 'EdgeRouter ERX'
set service snmp contact admin@mineral.{{ site_domain }}
set service snmp location Closet

set service ssh port 22
set service ssh protocol-version v2

set service unms disable

set system config-management commit-revisions 50
set system domain-name {{ site_domain }}
set system host-name mineral

set system login user admin authentication encrypted-password '{{ encrypted_password }}'
set system login user admin authentication plaintext-password ''
set system login user admin authentication public-keys thebends-org key AAAAC3NzaC1lZDI1NTE5AAAAIMgapzKxl5psYtNtqE5E7gJt6WC6677ClsT4S9fsx3Lk
set system login user admin authentication public-keys thebends-org type ssh-ed25519
set system login user admin authentication public-keys macbook-air-key key AAAAC3NzaC1lZDI1NTE5AAAAIMgapzKxl5psYtNtqE5E7gJt6WC6677ClsT4S9fsx3Lk
set system login user admin authentication public-keys macbook-air-key type ssh-ed25519
set system login user admin authentication public-keys thebends-key key AAAAB3NzaC1yc2EAAAADAQABAAACAQDGoSPGgVtZOg4BRGC3ZnnG2CpqAyXTQ4mpjF9MJnTMURqGFWbyyOZWLdvNQQTqk5C4CP5sAS3XCY/sxJI1DcYDlq2+YS8oGgqFthEf6eHI1mgDinnIdq+lXuT+0tYHCBPjkvN8fposKsMbXO/FGvGkoRvVfnATVEtrOqd4jedo1m600iMn5PT7IPclGX4Q55b8+GneRlq04SXPn+XzD0m57XXqtWU6fD5oBaXG71WnYvWxpSSCRZT2gFWFBanX1xCFoLfXFS3y61L0XNbPGLs8hC2/nES/R1L/TuztddsymJoZhFGK7HMbOlngIDhIAt66blnehQTDD+8WxdcE6koGzq5mHh/PhYB8oF/ejHux3+6SypEDp+Ts/7aA9rnIN/c9tA6mAg7VRGGFgKcKMCiT16jTQqfGIAdFpO2aovzQXjKqsjP4mWFMR1/4xzGpOOKvK6AY6tT9rZ2N8+81zoNGuXg5ACndYpoC6O/2iQ5K2CQZ1dmHk84xHBo5qNoMkACbXhPW/ZMZrbyFtmR65L7D5f45B1aV6k38bffzelHuhX0uzY21wLz/cM1EDs7Id241qDqoc+V/vhjZyetJj/6GS/AI8Go7u5gEz990brn6Ko7gSA02czkTeG6woep+CZbtFamOrbRA5kacX5rW2OQiYsq5AcWMFlPRhO6BNUJ5VQ==
set system login user admin authentication public-keys thebends-key type ssh-rsa
set system login user admin full-name Administrator
set system login user admin level admin

set system ntp server 0.ubnt.pool.ntp.org
set system ntp server 1.ubnt.pool.ntp.org
set system ntp server 2.ubnt.pool.ntp.org
set system ntp server 3.ubnt.pool.ntp.org

set system syslog global facility all level notice
set system syslog global facility protocols level debug
set system syslog host 10.10.1.10 facility all level info

set system package repository stretch components 'main contrib non-free'
set system package repository stretch distribution stretch
set system package repository stretch url http://http.us.debian.org/debian
