apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
patches:
- path: kube-prometheus-stack-values.yaml
- path: headlamp-values.yaml
resources:
- ../base/flux-monitoring
- ../base/kube-prometheus-stack
- monitoring-secrets.yaml
- ../base/headlamp
