---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  chart:
    spec:
      # renovate: registryUrl=https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      version: 45.8.1
  values:
    grafana:
      ingress:
        annotations:
          external-dns.alpha.kubernetes.io/hostname: g.${DOMAIN}.
          external-dns.alpha.kubernetes.io/target: prx02.${DOMAIN}.
        hosts:
          - g.${DOMAIN}
        pathType: Prefix
        tls:
          - secretName: g-tls
            hosts:
              - g.${DOMAIN}
    prometheus:
      ingress:
        annotations:
          external-dns.alpha.kubernetes.io/hostname: p.${DOMAIN}.
          external-dns.alpha.kubernetes.io/target: prx02.${DOMAIN}.
        hosts:
          - p.${DOMAIN}
        pathType: Prefix
        tls:
          - secretName: p-tls
            hosts:
              - p.${DOMAIN}
    alertmanager:
      ingress:
        annotations:
          external-dns.alpha.kubernetes.io/hostname: a.${DOMAIN}.
          external-dns.alpha.kubernetes.io/target: prx02.${DOMAIN}.
        hosts:
          - a.${DOMAIN}
        pathType: Prefix
        tls:
          - secretName: a-tls
            hosts:
              - a.${DOMAIN}
    kubeEtcd:
      enabled: true
      endpoints:
        - ${ETCD_IP}
      service:
        enabled: true
        port: 2379
        targetPort: 2379
