---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: podinfo-haproxy
  namespace: podinfo
spec:
  chart:
    spec:
      # renovate: registryUrl=https://stefanprodan.github.io/podinfo
      chart: podinfo
      version: 6.3.6
  values:
    ingress:
      annotations:
        external-dns.alpha.kubernetes.io/hostname: podinfo-haproxy.dev.mrv.thebends.org.
        external-dns.alpha.kubernetes.io/target: prx02.dev.mrv.thebends.org.
      hosts:
        - host: podinfo-haproxy.dev.mrv.thebends.org
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - secretName: podinfo-haproxy-tls
          hosts:
            - podinfo-haproxy.dev.mrv.thebends.org
