---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: podinfo-nginx
  namespace: podinfo
spec:
  chart:
    spec:
      # renovate: registryUrl=https://stefanprodan.github.io/podinfo
      chart: podinfo
      version: 6.5.0
  values:
    ingress:
      annotations:
        external-dns.alpha.kubernetes.io/hostname: podinfo-nginx.dev.mrv.thebends.org.
        external-dns.alpha.kubernetes.io/target: prx04.dev.mrv.thebends.org.
      hosts:
        - host: podinfo-nginx.dev.mrv.thebends.org
          paths:
            - path: /
              pathType: ImplementationSpecific
      tls:
        - secretName: podinfo-nginx-tls
          hosts:
            - podinfo-nginx.dev.mrv.thebends.org
