---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: frigate
  namespace: frigate
spec:
  chart:
    spec:
      # renovate: registryUrl=https://blakeblackshear.github.io/blakeshome-charts/
      chart: frigate
      version: 7.0.1
  values:
    image:
      repository: blakeblackshear/frigate
      tag: 0.10.1-amd64
    virtualHost: frigate.prod.mrv.thebends.org
    ingress:
      annotations:
        external-dns.alpha.kubernetes.io/hostname: frigate.prod.mrv.thebends.org.
        external-dns.alpha.kubernetes.io/target: prx02.prod.mrv.thebends.org.
        cert-manager.io/cluster-issuer: letsencrypt
      hosts:
        - host: frigate.prod.mrv.thebends.org
          paths:
            - '/'
      tls:
        - secretName: frigate-tls
          hosts:
            - frigate.prod.mrv.thebends.org
    config: |
      mqtt:
        host: mosquitto.mqtt
        port: 1883
        topic_prefix: frigate
        client_id: frigate
        user: mqtt_user
        password: password
        stats_interval: 60
      objects:
        track:
        - person
      detectors:
        cpu1:
          type: cpu
        cpu2:
          type: cpu
      cameras:
        front:
          ffmpeg:
            inputs:
              - path: https://home-assistant.prod.mrv.thebends.org/api/hls/example/playlist.m3u8
                roles:
                  - detect
                  - rtmp
