---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home-assistant
spec:
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: home-assistant
      version: 13.4.2
  values:
    image:
      repository: homeassistant/home-assistant
      tag: 2023.4.6
    persistence:
      config:
        existingClaim: home-assistant-storage-0
        enabled: true
        mountPath: /config
    ingress:
      main:
        annotations:
          external-dns.alpha.kubernetes.io/hostname: home-assistant.prod.mrv.thebends.org.
          external-dns.alpha.kubernetes.io/target: prx03.prod.mrv.thebends.org.
        hosts:
          - host: home-assistant.prod.mrv.thebends.org
            paths:
              - path: /
        tls:
          - secretName: home-assistant-tls
            hosts:
              - home-assistant.prod.mrv.thebends.org
    env:
      HASS_INTERNAL_URL: "https://home-assistant.prod.mrv.thebends.org"
      HASS_EXTERNAL_URL: "https://home-assistant.prod.mrv.thebends.org:18123"

    addons:
      codeserver:
        ingress:
          annotations:
            external-dns.alpha.kubernetes.io/hostname: vscode-ha.prod.mrv.thebends.org.
            external-dns.alpha.kubernetes.io/target: prx02.prod.mrv.thebends.org
          hosts:
            - host: vscode-ha.prod.mrv.thebends.org
              paths:
                - path: /
          tls:
            - secretName: vscode-home-assistant-tls
              hosts:
                - vscode-ha.prod.mrv.thebends.org
