---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/home-assistant
  - ../base/teslamate
  - ../base/mosquitto
  - ../base/hajimari
  - ../base/rtsp-to-web
  - ../base/jupyter
  - ../base/jellyfin
  - prometheus-rules.yaml
  - home-assistant-config-pvc.yaml
patches:
  - path: home-assistant-values.yaml
  - path: teslamate-values.yaml
  - path: hajimari-values.yaml
  - path: rtsp-to-web-values.yaml
  - path: jupyter-values.yaml
  - path: mosquitto-values.yaml
  - path: jellyfin-values.yaml
