---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: teslamate
  namespace: teslamate
spec:
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: teslamate
      version: 7.1.2
  values:
    image:
      repository: teslamate/teslamate
      tag: 1.28.2
    virtualHost: teslamate.prod.mrv.thebends.org
    ingress:
      main:
        annotations:
          external-dns.alpha.kubernetes.io/hostname: teslamate.prod.mrv.thebends.org.
          external-dns.alpha.kubernetes.io/target: prx02.prod.mrv.thebends.org.
        hosts:
          - host: teslamate.prod.mrv.thebends.org
            paths:
              - path: /
        tls:
          - secretName: teslamate-tls
            hosts:
              - teslamate.prod.mrv.thebends.org
