#cloud-config
---
install:
  device: "/dev/sda"
  # Operator needs to ensure propper boot order
  reboot: false
  auto: true
  poweroff: true

{% raw -%}
hostname: metal-{{ trunc 4 .MachineID }}
{% endraw %}
users:
- name: admin
  groups:
  - admin
  ssh_authorized_keys: {{ ssh_authorized_keys }}

# https://github.com/derailed/k9s/issues/1399
initramfs:
- name: Increase number of open files
  sysctl:
    fs.inotify.max_user_instances: "8192"
    fs.inotify.max_user_watches: "524288"

# Note: Manifests are written in /var/lib/rancher/k3s/server/manifests/
fail_on_bundles_errors: true

boot:
- name: Set environment variables
  environment:
    # Make kubectl commands easier to run locally
    KUBECONFIG: /etc/rancher/k3s/k3s.yaml
