k3s-agent:
  enabled: true
  args:
  {% for item in node_labels -%}
  - --node-label {{ item }}
  {% endfor -%}
  env:
    K3S_TOKEN: {{ k3s_token }}
    K3S_URL: https://{{ primary_server_ip }}:6443
