k3s:
  enabled: true
  args:
  - --cluster-init
  - --disable traefik,servicelb
  - --disable-network-policy
  - --flannel-backend none
  {% for item in node_labels -%}
  - --node-label {{ item }}
  {% endfor -%}
  env:
    K3S_TOKEN: {{ k3s_token }}

bundles:
- targets:
  - run://quay.io/kairos/community-bundles:calico_latest
  - run://quay.io/kairos/community-bundles:metallb_latest
  - run://quay.io/kairos/community-bundles:flux_latest

calico:
  version: {{ calico_version }}

metallb:
  version: {{ metallb_version }}
  address_pool: {{ metallb_ip_range }}

flux:
  github:
    owner: {{ flux_github_owner }}
    repository: {{ flux_github_repository }}
    path: {{ flux_github_path }}
    network-policy: "false"
    # bootstrap for a public repository on a personal account
    personal: true
    private: false
