---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: doccano
  namespace: doccano
spec:
  releaseName: doccano
  chart:
    spec:
      chart: app-template
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-helm-charts
        namespace: flux-system
      version: 4.4.0
  interval: 5m
  install:
    remediation:
      retries: 3
  test:
    # Fix problem where helm fails to uninstall
    enable: false
  values:
    controllers:
      main:
        strategy: Recreate
        containers:
          main:
            image:
              repository: doccano/doccano
              pullPolicy: IfNotPresent
              tag: 1.8.4
            env:
            - name: ADMIN_USERNAME
              value: admin
            - name: ADMIN_EMAIL
              value: ${doccano_email}
            - name: ADMIN_PASSWORD
              value: ${doccano_password}

    service:
      main:
        controller: main
        ports:
          http:
            port: 8000

    ingress:
      main:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt
        hosts:
        - host: doccano.${name_service_dns_domain}
          paths:
          - path: /
            service:
              identifier: main
              port: http
        tls:
        - secretName: doccano-tls
          hosts:
          - doccano.${name_service_dns_domain}
