#cloud-config
---
install:
  device: "/dev/sda"
  # Operator needs to ensure propper boot order
  reboot: false
  auto: true

{% raw -%}
hostname: metal-{{{ trunc 4 .MachineID }}}
{% endraw %}
users:
- name: admin
  groups:
  - admin
  ssh_authorized_keys:
  - github:allenporter

# Following https://kairos.io/docs/examples/ha/
{% if primary or secondary %}
k3s:
  enabled: true
  args:
  {% if primary -%}
  - --cluster-init
  - --disable traefik,servicelb
  - --disable-network-policy
  {% endif -%}
  {% if secondary -%}
  - --server https://{{ primary_server_ip }}:6443
  {% endif -%}
  env:
    K3S_TOKEN: {{ k3s_token }}
{% else %}
k3s-agent:
  enabled: true
  env:
    K3S_TOKEN: {{ k3s_token }}
    K3S_URL: https://{{ primary_server_ip }}:6443
{% endif %}

# -- https://github.com/derailed/k9s/issues/1399
initramfs:
  - name: Increase number of open files
    sysctl:
      fs.inotify.max_user_instances: "8192"
      fs.inotify.max_user_watches: "524288"
