---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: supernote-restore-data
  namespace: supernote
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
  storageClassName: ceph-block
