global:
  resolve_timeout: 1m

route:
  group_by: ['alertname']
  receiver: email-me
  repeat_interval: 4h

receivers:
  - name: email-me
    email_configs:
      - to: {{ email_username }}@gmail.com
        from: {{ email_username }}@gmail.com
        smarthost: smtp.gmail.com:587
        auth_username: {{ email_username }}
        auth_identity: {{ email_username }}
        auth_password: {{ email_token }}
        send_resolved: true
