---
name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  flux_tests:
    strategy:
      matrix:
        cluster_path:
          - kubernetes/clusters/prod
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@v2.7.3
      - name: flux-local test
        uses: allenporter/flux-local/action/test@8.0.1
        with:
          path: ${{ matrix.cluster_path }}
          enable-helm: true
          enable-kyverno: true
