---
name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  tests:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: supplypike/setup-bin@v3
        with:
          uri: 'https://github.com/kyverno/kyverno/releases/download/v1.9.0/kyverno-cli_v1.9.0_linux_x86_64.tar.gz'
          name: 'kyverno-cli'
          version: 'v1.9.0'
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Test policies (kyverno test)
        run: |
          kyverno test tests/policies/
      - name: Test cluster (flux-local)
        run: |
          flux-local test --enable-helm --enable-kyverno --api-versions policy/v1/PodDisruptionBudget --path clusters/dev
          flux-local test --enable-helm --enable-kyverno --api-versions policy/v1/PodDisruptionBudget --path clusters/prod
