---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
  namespace: kube-system
spec:
  releaseName: headlamp
  chart:
    spec:
      chart: headlamp
      sourceRef:
        kind: HelmRepository
        name: headlamp
        namespace: flux-system
  interval: 5m
  install:
    remediation:
      retries: 3
  test:
    enable: true
  values:
    replicaCount: 2
    ingress:
      enabled: true
      ingressClassName: nginx-internal
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt
      hosts:
        - headlamp.${name_service_dns_domain}
      tls:
        secretName: headlamp-tls
        hosts:
          - headlamp.${name_service_dns_domain}
