---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: stable
controlPlaneEndpoint: "{{ groups['prx'][0] }}:6443"
etcd:
  external:
    endpoints:
    {% for host in groups['cfg'] %}
      - http://{{ host }}:2379
    {% endfor %}
